.spl-sourceList {
  display: flex;
  width: 100%;
  border: 1px solid #EAECEF;
  background-color: #fff;
}

.spl-sourceList ul:first-child{
  width: 50%;
}

.spl-desc{
  flex: 1;
  padding: 10px;
}

.spl-syntax-error{
  padding: 10px;
  background-color: #fff2f0;
  border: 1px solid #ffccc7;
}

.spl-input > input{
  padding: 8px 16px;
}

.spl-sourceList .ant-space>div:first-child{
  width: 60px;
}

.spl-sourceList .ant-space>div:last-child{
  overflow: hidden;
  flex: 1;
  text-overflow: ellipsis;
}

.spl-sourceList .ant-space>div:nth-child(2){
  width: 130px;
}

.spl-sourceList .ant-space-align-center{
  width: 100%;
}

.provider-menu-style {
  width: 50%;
  border: none;
}

.provider-menu-style li{
  margin: 0!important;
  padding: 0px 16px;
  border-right: 1px solid #EAECEF;
  transition: border-color 0s;
}

/* .provider-menu-style .ant-menu-item-selected{
  border-right: none!important;
} */

.desc-style {
  color: rgba(0, 0, 0, 0.45); /* ${(props) => props.theme['text-color-secondary']}; */ 
  vertical-align: middle;
}

.option-style {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}